
\.DS_Store

\.RData

\.Rhistory

odes\.pdf

src/chickens\.so

src/MarkovChainSimulator/\.atom-build\.json

src/MarkovChainSimulator/\.vscode/launch\.json

src/MarkovChainSimulator/\.vscode/settings\.json

*.o

\.vscode/settings\.json
